@model Database.Data.BookScheme.BookType

@{
    ViewData["Title"] = "Edit";
}

<h1>Edytujesz</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BookTypeId" />
            <div class="form-group mb-3">
                <label asp-for="BookTypeName" class="control-label"></label>
                <input asp-for="BookTypeName" class="form-control" />
                <span asp-validation-for="BookTypeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="Index">
                    <div class="btn btn-outline-primary"><i class="bi bi-arrow-left mx-1"></i><span class="mx-2"></span>Powrót</div>
                </a>
                <button type="submit" class="btn btn-success">Edytuj<span class="mx-2"></span><i class="bi bi-save"></i> </button>
            </div>
        </form>
    </div>
</div>


