html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
h1, h2, h3{
  font-family: "Roboto Light", serif;
}
.w-20{
  width:20%;
}

.w-10{
  width: 10%;
}

.w-15{
  width: 15%;
}

.icon-bg:hover{
  border-color: lavender;
  opacity:0.5;
}

.book-description-paragraph {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 20;
  overflow: hidden;
}

.newest-card-img {
  width: 200px;
  max-height:290px;
}

@keyframes fadeIn {
  from { opacity: 0;  max-width: 0;}
  to { opacity: 1; max-width: 310px;}
}

.hidden {
  opacity: 0;
  display: none;
  max-width: 0;
  
}

.showAudio {
  display: block;
  opacity: 1;
  max-width: 310px;
  animation: fadeIn 2s ease-in-out;
  transition: max-width 0.1s ease-in-out;
}

