@*@model TModel*@
<h2 class="ms-3 align-items-end">Inne książki autora</h2>
                        <hr class="w-75 ms-3"/>
<div class="d-flex justify-content-start m-1 gap-1">
  
  <div class="d-flex flex-row ">
    <img src="img/okladka.jpg" alt="okladka" class="w-50"/>
    <div class="d-flex flex-column ms-1">
      <p>Tytul książki</p>
      <p>Rodzaj</p>
      <p>Gatunek</p>
    </div>
  </div>
  <div class="d-flex flex-row ">
    <img src="img/okladka.jpg" alt="okladka" class="w-50"/>
    <div class="d-flex flex-column ms-1">
      <p>Tytul książki</p>
      <p>Rodzaj</p>
      <p>Gatunek</p>
    </div>
  </div>
  <div class="d-flex flex-row ">
    <img src="img/okladka.jpg" alt="okladka" class="w-50"/>
    <div class="d-flex flex-column ms-1">
      <p>Tytul książki</p>
      <p>Rodzaj</p>
      <p>Gatunek</p>
    </div>
  </div>

</div>

<div class="d-flex justify-content-start m-1 gap-1">
   <div class="d-flex flex-row ">
      <img src="img/okladka.jpg" alt="okladka" class="w-50"/>
      <div class="d-flex flex-column ms-1">
      <p>Tytul książki</p>
      <p>Rodzaj</p>
        <p>Gatunek</p>
        </div>
    </div>
   <div class="d-flex flex-row ">
    <img src="img/okladka.jpg" alt="okladka" class="w-50"/>
    <div class="d-flex flex-column ms-1">
    <p>Tytul książki</p>
    <p>Rodzaj</p>
      <p>Gatunek</p>
      </div>
  </div>
   <div class="d-flex flex-row ">
      <img src="img/okladka.jpg" alt="okladka" class="w-50"/>
      <div class="d-flex flex-column ms-1">
      <p>Tytul książki</p>
      <p>Rodzaj</p>
        <p>Gatunek</p>
        </div>
    </div>
</div>

<div class="d-flex justify-content-start m-1 gap-1">
  <div class="d-flex flex-row ">
     <img src="img/okladka.jpg" alt="okladka" class="w-50"/>
     <div class="d-flex flex-column ms-1">
     <p>Tytul książki</p>
     <p>Rodzaj</p>
       <p>Gatunek</p>
       </div>
   </div>
 <div class="d-flex flex-row ">
    <img src="img/okladka.jpg" alt="okladka" class="w-50"/>
    <div class="d-flex flex-column ms-1">
    <p>Tytul książki</p>
    <p>Rodzaj</p>
      <p>Gatunek</p>
      </div>
  </div>
   <div class="d-flex flex-row ">
      <img src="img/okladka.jpg" alt="okladka" class="w-50"/>
      <div class="d-flex flex-column ms-1">
      <p>Tytul książki</p>
      <p>Rodzaj</p>
        <p>Gatunek</p>
        </div>
    </div>
</div>