@model IEnumerable<Database.DATA.BookScheme.Book>
<h3 class="ms-3 align-items-end">Wszystkie książki autora dostępne w bibliotece</h3>
<hr class="w-75 ms-3"/>

@foreach (var item in Model)
{

    <div class="d-flex justify-content-start m-1 gap-1" style="max-height: 170px">
        <div class="d-flex flex-row m-2 border rounded shadow-sm ">
            <div class="card-body d-flex flex-column bg-light ">
                <h6>
                    @item.Title
                </h6>
                <p class="fw-lighter fs-6 " > @item.Genre.Name </p>
                <p class="fw-lighter fs-6 "> </p>
                <a asp-controller="BookPage" asp-action="Index" class="link-info text-decoration-none">Zobacz</a>
            </div>
            <div class="" > <img src="@item.image" alt="okladka ksiazki" style="max-height: 150px"></div>
        </div>
    </div>
}




  
 
