@model Database.DATA.BookScheme.Collections

@{
    ViewData["Title"] = "Create";
}

<h1>Utwórz nową kolekcje</h1>

<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <label asp-for="CollectionName" class="control-label"></label>
                <input asp-for="CollectionName" class="form-control"/>
                <span asp-validation-for="CollectionName" class="text-danger"></span>

                <input type="submit" value="Dodaj" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>
<p>@Html.ValidationSummary()</p>
<div>
    <a asp-action="Index">Wróć do listy</a>
</div>