@{
    ViewData["Title"] = "Home Page";
}


<div class="col mx-auto mb-3 border-0">
    <div class="card border-0">
        <img src="img/internet.png" class="card-img-top w-25 h-25 mx-auto" alt="..."> 
        <div class="card-body">
    
            <h5 class="card-title text-center">Zarzadzanie portalem</h5>
            <p class="card-text text-center">Ta karta zawiera dwa przyciski: jeden do tworzenia nowych stron, a drugi do podglądu istniejących. Użytkownik może szybko projektować i oceniać swoje strony internetowe, dzięki prostemu interfejsowi i intuicyjnym funkcjom.</p>
            <div class="d-flex justify-content-evenly">
                <a asp-controller="BookPage" asp-action="Create" class="btn btn-primary">Dodaj stronę książki</a>
                <a asp-controller="BookPreview" asp-action="Create" class="btn btn-primary">Dodaj stronę podgladu</a>
                <a asp-controller="HomeBook" asp-action="Index" class="btn btn-primary">Zarządzanie książkami</a>
            </div>
        </div>
    </div>
</div>

