@using Database.DATA.BookScheme
@model Database.Data.BookScheme.Author
@{
    ViewData["Title"] = "AuthorPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row m-5 d-flex">
    <div class="col-8">
        <h2 class="ms-3">O autorze</h2>
        <hr/>
        <div class="d-flex justify-content-start flex-row ms-3">
            <img class="rounded" style="max-height: 500px; max-width: 500px;" src="@Model.PhotoUrl" alt="zdjecie_autora"/>
            <div class="ms-5">
                <h2>@Model.Name @Model.Surname</h2>
                <p>@Model.Description</p>
            </div>
        </div>
    </div>
    <div class="col-4">
        @await Html.PartialAsync("AuthorPageShared/AllAuthorBooks",(IEnumerable<Book>)ViewBag.AuthorsBooks)
    </div>
</div>