<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Intranet</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    </nav>
</header>
<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <div class="sidebar">
                <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-light" style="width: 280px;" bis_skin_checked="1">
                    <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none" asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="bi bi-house me-2 fs-2 text-black"></i>
                        <span class="fs-4 text-black">Intranet</span>
                    </a>
                    <hr class="text-black">
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li>
                            <a asp-area="" asp-controller="HomeBook" asp-action="Index" class="nav-link text-black">
                                <i class="bi bi-book me-2 fs-2"></i>
                                Zarządzanie książkami
                            </a>
                            <ul class="nav nav-pills flex-column mb-auto">
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Book" asp-action="Index" class="nav-link" aria-current="page">
                                        <i class="bi bi-book-half me-2 fs-6"></i>
                                        Książki
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Author" asp-action="Index" class="nav-link" aria-current="page">
                                        <i class="bi bi-person-lines-fill me-2 fs-6"></i>
                                        Autorzy
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Collections" asp-action="Index" class="nav-link" aria-current="page">
                                        <i class="bi bi-collection me-2 fs-6"></i>
                                        Kolekcje
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Genre" asp-action="Index" class="nav-link" aria-current="page">
                                        <i class="bi bi-card-list me-2 fs-6"></i>
                                        Gatunki
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="BookType" asp-action="Index" class="nav-link" aria-current="page">
                                        <i class="bi bi-journal-text me-2 fs-6"></i>
                                        Rodzaje
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="BookCollection" asp-action="Index" class="nav-link" aria-current="page">
                                        <i class="bi bi-boxes me-2 fs-6"></i>
                                        Dodaj książki do kolekcji
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="nav-link text-black" asp-area="" asp-controller="PortalManager" asp-action="Index">
                                <i class="bi bi-laptop me-2 fs-2"></i>
                                Zarządzanie portalem
                            </a>
                            <ul class="nav nav-pills flex-column mb-auto">
                                <li>
                                    <a asp-area="" asp-controller="BookRandomCollection" asp-action="Index" class="nav-link" aria-current="page">
                                        <i class="bi bi-collection-fill me-2 fs-6"></i>
                                        Dodaj kartę kolekcji
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="BookNewsCard" asp-action="Index" class="nav-link" aria-current="page">
                                        <i class="bi bi-newspaper me-2 fs-6"></i>
                                        Dodaj kartę nowośći
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="BookPage" asp-action="Index" class="nav-link" aria-current="page">
                                        <i class="bi bi-postcard me-2 fs-6"></i>
                                        Dodaj stronę książki
                                    </a>
                                </li>
                            </ul>

                        </li>
                        <li>
                            <a href="#" class="nav-link text-black">
                                <i class="bi bi-speedometer2 me-2 fs-2"></i>
                                Dashboard
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-10">
            <div class="container-fluid">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
