<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Bookstore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
<header style="height: 100px" class="shadow">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-light border-bottom box-shadow mb-3 h-100 ">
        <div class="container d-flex justify-content-center flex-row">
            <a class="d-inline text-decoration-none text-center mx-2 " asp-area="" asp-controller="Home" asp-action="Index">
                <h1> Biblioteka</h1>
            </a>
            
           </div>
    </nav>
</header>
<div class="container-fluid">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container mt-5">
        &copy; 2024 - Biblioteka online - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script>
    
    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
    }

    function drop(ev) {
        ev.preventDefault();
        let data = ev.dataTransfer.getData("text");
        ev.target.dataTransfer.setData("text2", ev.target.id)
        ev.target.appendChild(document.getElementById(data));
    }
    
    function move(ev) {
        ev.preventDefault();
        let data = ev.dataTransfer.getData("text2");
        ev.appendChild(document.getElementById(data));
    }

</script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>