@*@model TModel*@

<div class="d-flex flex-column">
    <h3 class="text-center"><img src="img/blank.png" alt="blank" class="m-2 shadow-sm"/>Nowości</h3>
    
    <div class="text-center d-flex justify-content-evenly m-5">
        
          <div class="d-flex flex-row m-2 border border-info rounded shadow-sm">
                    <div class="card-body d-flex flex-column bg-light">
                       <p class="fw-lighter fs-6">Data dodania</p>
                       <h5>Tytul książki</h5>
                       <h6>Autor książki</h6>
                        <p class="fw-lighter fs-6">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                        <a href="#" class="link-info text-decoration-none">Czytaj więcej</a>
                   </div>
                   <div class="">  <img src="img/okladka.jpg" class="card-img" alt="okladka ksiazki"></div>
               </div>
           <div class="d-flex flex-row m-2 border border-info rounded shadow-sm">
                     <div class="card-body d-flex flex-column bg-light">
                        <p class="fw-lighter fs-6">Data dodania</p>
                        <h5>Tytul książki</h5>
                        <h6>Autor książki</h6>
                         <p class="fw-lighter fs-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                         <a href="#" class="link-info text-decoration-none">Czytaj więcej</a>
                    </div>
                    <div class="">  <img src="img/okladka.jpg" class="card-img" alt="okladka ksiazki"></div>
                </div>
      
        <div class="d-flex flex-row m-2 border border-info rounded shadow-sm">
            <div class="card-body d-flex flex-column bg-light ">
                <p class="fw-lighter fs-6">Data dodania</p>
                <h5>Tytul książki</h5>
                <h6>Autor książki</h6>
                <p class="fw-lighter fs-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</p>
                <a href="#" class="link-info text-decoration-none">Czytaj więcej</a>
            </div>
            <div class="">  <img src="img/okladka.jpg" class="card-img" alt="okladka ksiazki"></div>
        </div>
      
    </div>
   
</div>