@* /* @model TModel  *@
<div class="d-flex flex-column ">
    <h3 class="text-center mb-5"><img src="img/book.png" alt="blank" class="m-2 shadow-sm"/> Nazwa kolekcji</h3>

    <div class="text-center d-flex justify-content-evenly">

        <div class="card rounded shadow-sm" style="width: 18rem;">
            <a class="text-decoration-none shadow-sm m-2" asp-controller="BookPage" asp-action="Index">
            <img src="img/okladka.jpg" class="card-img-top rounded" alt="okladka ksiazki">
            </a>
            <div class="card-body">
                <div class="d-flex flex-row justify-content-start">
                    <a class="icon-bg text-decoration-none shadow-sm m-2" href="#">
                        <i class="bi bi-book m-3"></i>
                    </a>
                    <a class="icon-bg text-decoration-none shadow-sm m-2" href="#">
                        <i class="bi bi-headphones m-3 "></i>
                    </a>
                </div>
                <p class="card-text">Nazwisko i imie autora</p>
                <p class="card-text">Tytul ksiazki</p>
            </div>
        </div>

        <div class="card rounded shadow-sm" style="width: 18rem;">
            <a class="text-decoration-none shadow-sm m-2" asp-controller="BookPage" asp-action="Index">
                <img src="img/okladka.jpg" class="card-img-top rounded" alt="okladka ksiazki">
            </a>
            <div class="card-body">
                <div class="d-flex flex-row justify-content-start">
                    <a class="icon-bg text-decoration-none shadow-sm m-2" href="#">
                        <i class="bi bi-book m-3"></i>
                    </a>
                    <a class="icon-bg text-decoration-none shadow-sm m-2" href="#">
                        <i class="bi bi-headphones m-3 "></i>
                    </a>
                </div>
                <p class="card-text">Nazwisko i imie autora</p>
                <p class="card-text">Tytul ksiazki</p>
            </div>
        </div>
        
        <div class="card rounded shadow-sm" style="width: 18rem;">
            <a class="text-decoration-none shadow-sm m-2" asp-controller="BookPage" asp-action="Index">
                <img src="img/okladka.jpg" class="card-img-top rounded" alt="okladka ksiazki">
            </a>
            <div class="card-body">
                <div class="d-flex flex-row justify-content-start">
                    <a class="icon-bg text-decoration-none shadow-sm m-2" href="#">
                        <i class="bi bi-book m-3"></i>
                    </a>
                    <a class="icon-bg text-decoration-none shadow-sm m-2" href="#">
                        <i class="bi bi-headphones m-3 "></i>
                    </a>
                </div>
                <p class="card-text">Nazwisko i imie autora</p>
                <p class="card-text">Tytul ksiazki</p>
            </div>
        </div>
        
        <div class="card rounded shadow-sm" style="width: 18rem;">
            <a class="text-decoration-none shadow-sm m-2" asp-controller="BookPage" asp-action="Index">
                <img src="img/okladka.jpg" class="card-img-top rounded" alt="okladka ksiazki">
            </a>
            <div class="card-body">
                <div class="d-flex flex-row justify-content-start">
                    <a class="icon-bg text-decoration-none shadow-sm m-2" href="#">
                        <i class="bi bi-book m-3"></i>
                    </a>
                    <a class="icon-bg text-decoration-none shadow-sm m-2" href="#">
                        <i class="bi bi-headphones m-3 "></i>
                    </a>
                </div>
                <p class="card-text">Nazwisko i imie autora</p>
                <p class="card-text">Tytul ksiazki</p>
            </div>
        </div>
        
        <div class="card rounded shadow-sm" style="width: 18rem;">
            <a class="text-decoration-none shadow-sm m-2" asp-controller="BookPage" asp-action="Index">
                <img src="img/okladka.jpg" class="card-img-top rounded" alt="okladka ksiazki">
            </a>
            <div class="card-body">
                <div class="d-flex flex-row justify-content-start">
                    <a class="icon-bg text-decoration-none shadow-sm m-2" href="#">
                        <i class="bi bi-book m-3"></i>
                    </a>
                    <a class="icon-bg text-decoration-none shadow-sm m-2" href="#">
                        <i class="bi bi-headphones m-3 "></i>
                    </a>
                </div>
                <p class="card-text">Nazwisko i imie autora</p>
                <p class="card-text">Tytul ksiazki</p>
            </div>
        </div>
    </div>
    <div class="mt-5 mb-5 align-self-end">
        <a href="#" class="m-5">zobacz wszystkie kolekcje</a>
    </div>

</div>