@model Database.Data.BookScheme.Genre

@{
    ViewData["Title"] = "Delete";
}

<h1>Usuwanie</h1>


<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="GenreId" />
        <a asp-action="Index"><div class="btn btn-outline-primary"><i class="bi bi-arrow-left mx-1"></i><span class="mx-2"></span>Powrót</div></a>
        <button type="submit" value="Usuń" class="btn btn-danger" ><i class="bi bi-trash"></i></button>

    </form>
</div>
